.cardOutWrapper {
    height: 490px;
    display: flex;
    align-items: center;
}

.card {
    height: 402px;
    width: 273px;
    border-radius: 20px;
    margin: auto;
}
.active {
    height: 490px;
    width: 332px;
    /* transform: translateY(-50%);
    top: 50%; */
    z-index: 1000;
}

.cardInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.cardInfoItem {
    display: flex;
    justify-content: space-around;
}