
.introWrapper {
    display: flex;
    flex-direction: column;
    height: 90vh;
}


.introTitleLayout {
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
}
.introTitle {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}
.introTitle span {
    font-size: 80px;
    text-transform: uppercase;
    color: #7E76DA;
    font-weight: 600;
}

.searchInput {
    width: 700px;
    height: 40px;
    border-radius: 50px;
    margin: 0 auto;
    padding: 10px 30px;
    border: 2px solid #7e76da82;
}

.introBtn {
    margin-top: auto;
    font-size: 16px;

}