.introBg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: -1;
}

.introWrapper {
    display: flex;
}

.introForm {
    width: 35%;
    align-self: flex-end;
}


.introTitleLayout {
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
}
.introTitle {
    font-size: 60px;
    text-align: right;
}
.introTitle span {
    font-size: 80px;
    text-transform: uppercase;
    color: #7E76DA;
    font-weight: 600;
}

.introBtn {
    align-self: flex-end;
    font-size: 16px;
}