.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -40px;
}
.title span {
    background: linear-gradient(to right, var(--gradient-1-color), var(--gradient-2-color), var(--gradient-3-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}



.sectionWrapper {
    position: relative;
}

.topCurve {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.topCurve svg {
    position: relative;
    display: block;
    width: calc(257% + 1.3px);
    height: 162px;
}

.curveFill {
    fill: var(--secondary-color);
}

.mainInfoWrapper {
    background: var(--secondary-color);
}
.mainInfoContent {
    color: white;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.fullCollectionWrapper {
    width: 30%;
}
.minCollectionsWrapper {
    width: 60%;
}