.sectionWrapper {
    position: relative;
}

.topCurve {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.topCurve svg {
    position: relative;
    display: block;
    width: calc(257% + 1.3px);
    height: 162px;
}

.curveFill {
    fill: #31354D;
}

.mainInfoWrapper {
    background: #31354D;
}
.mainInfoContent {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.stepEnter {
    opacity: 0;
    transform: translateX(100%);
}

.stepExit {
    opacity: 0;
    transform: translateX(-100%);
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -40px;
}
.title span {
    background: linear-gradient(to right, #F88C8C, #5795CA, #57CAB9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.stepsDescWrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.stepsDescWrapper > h2 {
    margin: 0;
    padding: 0;
}
.stepsDescWrapper > p {
    line-height: 3;
    margin-top: 30px;
}
.stepsBtnWrapper {
    margin-top: 80px;
}
.stepsBtnWrapper {
    display: flex;
    justify-content: space-between;
}
.stepsBtnWrapper > button {
    width: 250px;
    padding: 13px;
    font-size: 14px;
    background: #7E76DA;
    color: white;
    border-radius: 5px;
}