.wrapper {
    padding: 0 150px;
    box-sizing: border-box;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.title span {
    background: linear-gradient(to right, var(--gradient-1-color), var(--gradient-2-color), var(--gradient-3-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.commentWrapper {
    margin-top: 20px;
}