#root {
  margin: 0 auto;
  padding: 20px 0 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
  backdrop-filter: blur(40px);
  padding: 5px 0;
  z-index: 100;
  background: #ffffff45;
}
.layout {
  max-width: 1440px;
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column; 
}
.auth-wrapper {
  margin: 100px 0;
}