@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #7E76DA;
  --secondary-color: #31354D;
  --gradient-1-color: #F88C8C;
  --gradient-2-color: #5795CA;
  --gradient-3-color: #57CAB9;
  --search_gradient-1-color: #f09;
  --search_gradient-2-color: #0ff;
  --search_gradient-3-color: #9f0;
  --stepper_icon_gradient-color_1: #f09;
  --stepper_icon_gradient-color_2: #0ff;
  --stepper_icon-color: #fff;
}

body, html {
  margin: 0;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}