.storeWrapper {
    margin: 0 0 50px;
    display: flex;
}
.storePreferences {
    margin-top: 130px;
    width: 20%;
    padding-top: 80px;
}
.filters {
    margin-top: 50px;    
}
.storeContent {
    width: 80%;
}